
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;  
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form input {
  margin-bottom: 1rem;
}

.title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: black;
  text-align: center;
}

.button {
  margin-top: auto;
}

.delete {
  margin-top: 12px;
  width: 100%;
}

.datePicker {
  width: "100%"
}